mixin checkbox-input(name, value, label, isChecked, rich)
    +b.input-checkbox
        +e.INPUT(
            type='checkbox'
            name= name
            value= value
            checked= isChecked
            id= value
        ).__field
        +e.LABEL(for= value class= rich).__label= label
